<header>
    <div class="section-one">
          <div class="logo">
            <h3><span>Viewer</span>ship</h3>
          </div>
          <div class="menu-section">
              <ul>
                <li><a href="home" class="active-nav">Home</a></li>
                <li><a href="user">Individual</a></li>
                <li><a href="marketer">Marketer</a></li>
              </ul>
          </div>
    </div>      
      <div class="user-profile">
        <div class="profile">
          <img (click)="showLogout(logoutSection)" src=".//src/assets/profileimg.jpg" alt="">
        </div>
      </div>
  </header>
  <section class="body-section">
      <div class="logout-section" #logoutSection>
          <div class="profile-img">
            <img src=".//src/assets/profileimg.jpg" alt="">
          </div>
          <hr>
          <div class="username">
            <h4>Stella</h4>
          </div>
          <hr>
            <button class="logout-btn" routerLink="/login">Logout</button>
      </div>
</section>  