<footer>
    <div class="footer-section">
        <div class="row footer-row">
            <div class="col-4">
                <h5>For Marketing officials</h5>                
                <ul>
                    <li><a href="#">How to find channels</a></li>
                    <li><a href="#">finding by category</a></li>
                    <li> <a href="#">discuss and deal</a></li>
                    <li><a href="#">start marketing</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h5>For Marketing officials</h5>                
                <ul>
                    <li><a href="#">How to find channels</a></li>
                    <li><a href="#">finding by category</a></li>
                    <li> <a href="#">discuss and deal</a></li>
                    <li><a href="#">start marketing</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h5>For Marketing officials</h5>                
                <ul>
                    <li><a href="#">How to find channels</a></li>
                    <li><a href="#">finding by category</a></li>
                    <li> <a href="#">discuss and deal</a></li>
                    <li><a href="#">start marketing</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-links">
        <div class="icon-section">
                <h6>Follow Us</h6>
                <div class="fb-icon icons">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="ld-icon icons">
                <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="tw-icon icons">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="yt-icon icons">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <div class="ig-icon icons">
                    <i class="fa-brands fa-instagram"></i>
                </div>
        </div>        

        <div class="app-section">
            <h6>Mobile app </h6>
            <div class="apl-icon icons">
                <i class="fa-brands fa-apple"></i>
            </div>
            <div class="ig-icon icons">
                <i class="fa-brands fa-android"></i>
            </div>
        </div>       

    </div>

    <hr>

    <p class="copyright-text"><i class="fa-regular fa-copyright"></i> 2022 - 2024 ViewerShip Inc</p>

</footer>