<footer>
    <div class="footer-section">
        <div class="row footer-row">
            <div class="col-4">
                <h5>Marketing officials</h5>                
                <ul>
                    <li><a href="#">How to find channels</a></li>
                    <li><a href="#">finding by category</a></li>
                    <li> <a href="#">discuss and deal</a></li>
                    <li><a href="#">start marketing</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h5>Channel Holder's/Youtubers</h5>                
                <ul>
                    <li><a href="#">How to List channel</a></li>
                    <li><a href="#">Verify your channel</a></li>
                    <li> <a href="#">Profile section</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h5>Site Links</h5>                
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li> <a href="#">Privacy Policies</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-links">
        <div class="icon-section">
                <div class="sl-follow">
                    <h6>Follow Us</h6>
                </div>
                <div class="icon-box">
                        <div class="inner-icon-box">
                            <div class="fb-icon icons">
                                <i class="fa-brands fa-facebook"></i>
                            </div>
                            <div class="ld-icon icons">
                            <i class="fa-brands fa-linkedin"></i>
                            </div>
                            <div class="tw-icon icons">
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                            <div class="yt-icon icons">
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                            <div class="ig-icon icons">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>    
                </div>
        </div>        

        <div class="app-section">
            <h6 class="mobile-app">Available On</h6>
                <div class="app-sec-box">
                    <div class="app-sec-inner">
                        <div class="apl-icon mobile-icons">
                            <i class="fa-brands fa-apple"></i>
                        </div>
                        <div class="ig-icon mobile-icons">
                            <i class="fa-brands fa-android"></i>
                        </div>
                    </div>    
                </div>  
        </div>       

    </div>

    <hr class="fotter-line">

    <div class="copyright-text-box">
        <p class="copyright-text"><i class="fa-regular fa-copyright"></i> 2022 - 2024 ViewerShip Inc</p>
    </div>
</footer>