<div class="register-section">
    <div class="isRegisted" *ngIf="isRegisted()">
        <p>Resigtration successfull, please login to your account</p>
    </div>

    <div class="content-section">
        <h3 class="login-title">Login</h3>
            <div class="form" [formGroup]="LoginForm">
                <div class="user-name">
                    <label for="">User name</label>
                    <input type="text" #email class="inp"  formControlName="userName">
                </div>
                <div class="user-password">
                    <label for="">Password</label>
                    <input type="password" #password class="inp" formControlName="password">
                </div>
                <div class="login-btn-div">
                    <button class="btn btn-danger loginbtn" (click)="loginMethod()">Login</button>
                </div>
                <div class="new-register-section">
                    <div class="new-reg-content">
                         <hr class="line1">
                            <div class="lable-content">
                                <p class="getAccount">Don't have Viewership account?</p>
                            </div>
                       <hr class="line1">
                    </div>
                    <div class="signup-button">
                        <button class="sign-up-button" routerLink="/preregister">Sign Up</button>
                    </div>
                </div>
            </div>
    </div>
</div>