.header-section{
    width: 100%;
    height: 4rem;
}
.home-section{
    width: 100%;
   
}

@media (min-width:268px)   and (max-width: 468px) { 
    .header-section{
        width: 100%;
        height: 3rem;
    }
}