@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

*{
overflow: hidden;
}
.container{
  width: 100%;
  height: 85vh;
  border: 1px solid rgb(103, 102, 102);
  margin: 1rem auto;
  box-shadow: 1px 2px 2px 1px #dddd;
  box-sizing: border-box;
}
.row{
  height: 95%;
  border: 1px solid rgb(103, 102, 102);
  margin: 1rem auto;
  box-shadow: 1px 2px 2px 1px #dddd;
}
.col-3{
  width: 20%;
  height: 95%;
  margin: 1rem 0;
  border: 1px solid rgb(103, 102, 102);
  box-shadow: 1px 2px 2px 1px #dddd;
}
.col-9{
  width: 80%;
  height: 95%;
  margin: 1rem 0;
  border: 1px solid rgb(103, 102, 102);
  box-shadow: 1px 2px 2px 1px #dddd;
  background: #eee;
}
.chat-area{
  width: 100%;
  height: 75%;
  border: 1px solid rgb(103, 102, 102);
  box-shadow: 1px 2px 2px 1px #dddd;
  background: #eee;
}
.message-area{
  width: 100%;
  height: 25%;
  border: 1px solid rgb(103, 102, 102);
  box-shadow: 1px 2px 2px 1px #dddd;
  background: rgb(144, 112, 112);
}
input{
  width: 100%;
  height: 8rem;
  margin: .4rem;
}
.sender-prof{
  width: 100%;
  height: 15%;
  border: 1px solid rgb(103, 102, 102);
  box-shadow: 1px 2px 2px 1px #dddd;
  background: rgb(144, 112, 112);
}
.send-btn{
  width: 10%;
  height: 3rem;
  border: none;
  font-size: 1rem;
}
.messagelist{

}