<section class="fl-home-section">
    <div class="content-container">
        <div class="bottom-menu">
            <app-bottom-menu></app-bottom-menu>
        </div>
    </div>
        <div class="fl-section">
            <!-- section -->
                <div class="fl-sidebar-container">
                    <!-- <div class="tg-btn" (click)="tgMenu()"[ngClass]="{'tg-btn':item,'tg-btn-op':!item}">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div> -->
                    <app-sidebar class="fl-sidebar" [userName]="userName" [userChName]="userChName"></app-sidebar>
                </div>
                <div class="fl-home-container">
                    <div class="fl-card-section">
                        <div class="ch-name fl-cards">
                            <div class="fl-card-content">
                                <div class="ch-title">{{userChName}}</div>
                                <div class="ch-title-lable">{{userChName}}</div>
                            </div>
                        </div>
                        <div class="ch-subCount fl-cards">
                            <div class="fl-card-content">
                                <div class="ch-title">{{userChName}}</div>
                                <div class="ch-title-lable">{{userChName}}</div>
                            </div>
                        </div>
                        <div class="ch-totalVd fl-cards">
                            <div class="fl-card-content">
                                <div class="ch-title">{{userChName}}</div>
                                <div class="ch-title-lable">{{userChName}}</div>
                            </div>
                        </div>
                        <div class="ch-createdOn fl-cards">
                            <div class="fl-card-content">
                                <div class="ch-title">{{userChName}}</div>
                                <div class="ch-title-lable">{{userChName}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="ch-vd-section">
                         <div class="content-sec">
                            <div class="row vd-detail-sec">
                                <div class="col-auto vd-sect" *ngFor="let chdetails of chDetailsResponse; let i = index">
                                    <img class="vid-thumb" src="{{chdetails.snippet.thumbnails.high.url}}" alt="">
                                    <label for="vd-title">{{chdetails.snippet.title | titlecase}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- <div class="content-sec">
                        <div class="row vd-detail-sec">
                            <div class="col-auto vd-sect" *ngFor="let chdetails of chDetailsResponse; let i = index">
                                <img class="vid-thumb" src="{{chdetails.snippet.thumbnails.high.url}}" alt="">
                                <label for="vd-title">{{chdetails.snippet.title | titlecase}}</label>
                            </div>
                        </div>
                    </div> -->
             <!-- section -->
        </div>
</section>

