section{
    width: 100%;
    height: 100vh;
}
.mkt-section{
    /* display: fle; */
}
.content-box{
    width: 100%;
    height: 90vh;
    display: flex;
}
.sidebar{
    width: 16%;
}
.search-bar-section{
    width: 100%;
    height: 5rem;
}
.search-bar-inner{
    width: 70%;
    height: 5rem;
    display: flex;
    justify-content: center;
}
.shape-section{  /*   input outer */
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-btn-sec{
    width: 30%;    
    height: 5rem;
    margin: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.search-btn-sec .search-btn{
    width: 100%;
    height: 2.5rem;
}
/* .shap{
    width: 8rem;
    padding: .5rem 1.5rem;
    background: var(--secondary-color);
    border-radius: 1.5rem;
    color: #fff;
}
span{
    width: 4rem;
    height: 2.7rem;
    background:#fff;
    border-radius: 1.5rem;
    margin-left: -1.9rem;
} */
.shape-section{
    padding-right: .1rem;
    
}
.shape-section input{
    width: 90%;
    border: none;
    padding: .5rem 1.4rem;
    background: #eee;
    border-radius: .3rem;
    margin-left: 1rem;
}

.search-btn-sec .search-btn{
    width: 70%;
    border: none;
    padding: .5rem;
    border-radius: .2rem;
    background: var(--secondary-color);
    color: #fff;
}
/*table section css*/
.table-section{
    width: 100%;
    padding: 1rem 3rem;
}
.col-8 table{
    height: 100%;
    padding-left: 1rem;
    box-shadow: 0 0 1px 2px #1b1b1b49;
    border-radius: 1rem;
}
.my-custom-scrollbar {
    position: relative;
    height: 60vh;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
}
.table-header{
    background: var(--secondary-color);
    color: #fff;
    text-align: center;
}
.table tbody .table-row{
    border-radius: 1.5rem;
    text-align: center;
    cursor: pointer;
}
.thumbnail{
    max-width: 2.5rem;
    max-height: 2.5rem;
    overflow:hidden;
    border-radius: 2.5rem;
    align-items: center;
    margin-left: 2rem;
}
img{
    width: 100%;
}
.col-4{
    background: #fff;
    padding: .1rem;
    width: 25%;
    margin-left: 2rem;
    border-radius: 1rem;
}
.outer-box{
    border-radius: 1rem;
    box-shadow: 0 0 1px 2px #1b1b1b49;
}
.upper-inner-box{
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0 1px 2px #1b1b1b49;
}
.profile-thumbnail{
    width: 6.5rem;
    height: 6.5rem;
    overflow:hidden;
    border-radius: 50%;
    align-items: center;
    margin:1rem 5.3rem;
    margin-top: .1rem;
    border: 1px solid var(--secondary-color);
}
.channel-name{
    margin: 2rem 3rem;
    padding-bottom: 1rem;
}
.lower-inner-box{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscriber-box ,.video-count-box{
    margin: 1rem;
    padding-right: 2rem;
}
.bottom-menu{
    display: none;
}

@media only screen and (max-width: 450px) { 
    .mkt-section{
        width: 100%;
        margin: 0rem;
        padding: 0rem;
        overflow-x: hidden;
    }
    .search-bar-section{
        width: 95%;
        height: 3rem;
        margin: 1.5rem auto;
        padding: 0rem;
        display: flex;
        align-items: center;
        background: #eee;
    }
    .shape-section{
        margin: 0rem;
        width: 70%;
        padding: 0rem;
    }
    /* .shape-section input{
        width: 100%;
        height: 2.4rem;
        margin: 0rem;
        padding: .5rem;
        border-radius: .3rem;
        border: 1px solid black;
        
    } */
    .search-btn-sec{
        width: 30%;
        margin: 0rem;
    }
    .search-btn{
        margin: .3rem;
        width: 90%;
        height: 100%;
        padding: .1rem auto;
        border-radius: .3rem;
    }
    .table-section{
        width: 110%;
        height: 100%;
        margin: 0rem;
        padding: .2rem;
    }
    .row{
        width: 95%;
        margin-top: -1rem;
        padding: 0rem;
    }
    .content-table{
        width: 100%;
       font-size: .7rem;
       text-align: center;
    }
    .table-header{
        width: 100%;
        height: 100%;
        margin: 0rem;
        padding: 0rem;
        color: #fff;
        background: rgb(221, 40, 40);
        /* position: fixed; */
    }
    .t-heading{
        width: 100%;
        height: 100%;
        padding: .3rem;
        margin: 0rem;
    }
    .t-heading-IC{
        width: 50%;
        padding: 0rem;
        padding: .3rem;
        margin: 0rem;
    }
    .table-body{
        width: 100%;
    }
    .table-row{
        width: 100%;
    }
    .thumbnail{
        width: 100%;
        height: 100%;
        margin: .5rem auto;
    }
    .col-8{
        width: 100%;
        height: 100%;
        margin: 0rem;
    }
    .col-4{
        display: none;
    }

}