<section>
    <div class="search-bar-section">
        <div class="shape-section">
            <div class="shap">Category</div>
            <span></span>
        </div>
        <input type="text" placeholder="search for category">
        <div>
          <ul>
            <li></li>
          </ul>
        </div> 
        <button class="search-btn">Search</button>
    </div>
    <div class="table-section">
        <div class="row">
            <div class="col-8 table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table table-bordered table-striped mb-0">
                    <thead class="table-header">
                      <tr> 
                        <th scope="col"></th>
                        <th scope="col">User Name</th>
                        <th scope="col">Channel Name</th>
                        <th scope="col">Channel Id</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-row" *ngFor="let chdetails of chDetailsResponse_; let i = index" (click)="showChDetails(chdetails.chName,
                      chdetails.userName,chdetails.userName)">
                        <td><div class="thumbnail">
                            <img src="{{chdetails.userName }}" alt="">
                        </div></td>
                        <td> {{chdetails.userName | titlecase}}</td>
                        <td> {{chdetails.chName | titlecase}}</td>
                        <td>{{chdetails.channelId | titlecase}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-4">
               <div class="outer-box">
                    <div class="upper-inner-box">
                        <div class="profile-thumbnail">
                            <img src="{{chThumb}}" alt="">
                        </div>       
                        <h3 class="channel-name">{{chThumb}}</h3>   
                    </div>
                  <div class="lower-inner-box">
                        <div class="subscriber-box">
                          Subscriber<h4>{{chID}}</h4>
                        </div>
                        <div class="video-count-box">
                          videos<h4>{{chID}}</h4>
                        </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
</section>