<section>
    <div class="row">
        <div class="col-2 sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10 profile-section">
            <div class="profile-content">
                <div class="profile-img-container">
                   <div class="row">
                        <div class="col-4">
                            <div class="image-box">
                                <div class="image-inner-box">

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="profile-btn">
                                <div class="change-pic-btn">
                                    <button class="ch-btn">Change Image</button>
                                </div>
                                <div class="delete-btn">
                                    <button class="del-btn">Delete Image</button>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="profile-details-section">
                        <div class="profile-details-content">
                            <div class="user-name">
                                <div class="first-name-sec">
                                    <label for="">First name</label>
                                    <input type="text" class="firstname">     
                                </div>
                                <div class="last-name-sec">
                                    <label for="">Last name</label>
                                    <input type="text" class="lastname">
                                </div>
                            </div>
                            <div class="mobile-no">
                                <div class="content-mb">
                                    <label for="">Mobile number</label>
                                    <input type="text" class="mb-number">
                                </div>
                            </div>
                            <div class="save-btn-sec">
                                <button class="save-btn">Save</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>