.sidebar{
    width: 18%;
  }
  .profile-section{
    width: 81%;
    height: 95vh;
    background: #eee;
    margin-left: .5rem;
  }
  .profile-content{
    width: 95%;
    height: 35rem;
    background: #fff;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 1rem;
    overflow: scroll;
  }
  .profile-img-container{
    width: 80%;
    height: 12rem;
    background: rgb(241, 236, 236);
    border-radius: 1rem;
    margin: .1rem auto;
  }
  .image-box{
    width: 12rem;
    height: 12rem;
    background: rgb(248, 246, 246);
    border-radius: 50%;
    margin-left: 2rem;
    border: 1px solid rgb(224, 228, 224);
    align-items: center;
  }
  .image-box:after {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    transform:scale(.9);
    box-shadow: 0px 0px 8px 2px #000000;
}
  .image-inner-box{
    width: 10rem;
    height: 10rem;
    background: rgb(248, 246, 246);
    border-radius: 50%;
    background:red;
    margin: 1rem auto;
    
  }
  .profile-btn{
    margin-top: 2rem;
  }
  .change-pic-btn .ch-btn{
    width: 10rem;
    height: 2.7rem;
    background:  rgb(221, 20, 20);
    border-radius: .4rem;
    padding: .5rem 1rem;
    border: none;
    color: #fff;
  }
  .delete-btn .del-btn{
    width: 10rem;
    height: 2.7rem;
    border: 1px solid rgb(243, 75, 75);
    border-radius: .4rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
  }
  .profile-details-section{
    width: 80%;
    height: 20rem;
    background: rgb(241, 236, 236);
    border-radius: 1rem;
    margin: .5rem auto;
  }
  .profile-details-content{
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 1rem;
  }
  .user-name{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem auto;
    font-family:'Nunito', sans-serif;
    font-weight: bold;
  }
  
  .firstname, .lastname{
    border: none;
    width: 15rem;
    height: 3rem;
    border-radius: .5rem;
    padding-left: 1rem;
    outline: none;
    box-shadow: 1px 1px 1px 1px #bbbbbb;
  }
  .mobile-no{
    width: 70%;
    margin: 1rem auto;
    font-family:'Nunito', sans-serif;
    font-weight: bold;
    text-align: left;
  }
.content-mb{
  width: 40%;
}

  .mb-number{
    border: none;
    width: 15rem;
    height: 3rem;
    border-radius: .5rem;
    padding-left: 1rem;
    outline: none;
    box-shadow: 1px 1px 1px 1px #bbbbbb;
  }
  .save-btn-sec{
    float: right;
    margin-right: 1rem;
  }
  .save-btn{
    width: 10rem;
    height: 2.7rem;
    background: rgb(230, 26, 26);
    border-radius: .4rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border: none;
    color: #fff;
    font-weight: bold;
  }