.container{
    width: 100%;
    max-width: 100%;
    height: 100%;
    background:#fff;
    margin: .1rem auto;
    overflow-x: hidden;
}
.content{
    margin: 2rem 4rem;
    
}
.heading h1{
    font-size: 6.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}
.subheading h5{
    margin-top: 1rem;
    font-size: 1.6rem;
    
}
.home-btn button{
    padding: .5rem 1rem ;
    margin-top: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
}
.ch-btn{
    background: var(--secondary-color);
    color: #fff;
    border: none;
}
.li-btn{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background: #fff;
}
.home-btn button:hover{
    cursor: pointer;
}   
.ch-btn:hover{
    background: rgb(241, 103, 103);
    color: #fff;
    border: none;
}
.li-btn:hover{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background: rgb(235, 233, 233);
}
.img-home-section{
    
}
.imag-container{
    width: 100%;
    max-width: 90%;
    margin: 1rem;
}
img{
    margin-top: 2rem;
    width: 100%;
    bottom: 0;
}
/* card section */
.card-section{
    width:100%;
    height: max-content;
    padding: 3rem 4.5rem;
}
.card-heading h3{
    font-size: 2rem;
}
.card-heading span{
    color: blue;
    cursor: pointer;
}
.incards{
    font-family: 'Poppins',sans-serif;
    width: 100%;
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: .1rem .1rem;
}
.cards{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: red;
}
.card1{
    margin-top: 1rem;
    width: 40%;
    height: 15%;
    padding: 2rem;
    background: #eee;
    margin-right: 1rem;
    border-radius: 1rem;
    color: var(--secondary-color);
}
.card1:hover{
    background: var(--secondary-color);
    color: #fff;
}
/* mkt section */
.mkt-section{
    width: 90%;
    height: 80vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;   
    color: #fff;
    z-index: 100;
}
img{
    z-index: -1;
    border-radius: 2rem;
}
.mkt-content{
    position: absolute;
    top: 0;
    padding: 3rem 2rem;
}
.mkt-content-box{
    width: 100%;
    height: max-content;
    background: yellow;
}
.content-box{
    padding: .1rem;
    width: 45%;
}
.mkt-heading{
    width: 14rem;
    padding: .5rem;
    margin-bottom: 1rem;
    background: rgba(190, 189, 189, 0.548);
}
.heading h2{
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    background: rgba(190, 189, 189, 0.548);
}
.mkt-subheading{
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(190, 189, 189, 0.548);
}
.mkt-card-section{
    margin: 4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mkt-card{
    padding: 2rem;
    background: rgba(243, 60, 60, 0.801);
    margin-right: 6rem;
    border-radius: 1rem;
}

.divider{
    width: 90%;
    margin: auto;
    padding: 2rem;
    background: #eee;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}



/* fl section */
.fl-section{
    width: 90%;
    height: 90vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;   
    color: rgb(248, 248, 248);
    z-index: 100;
}
img{
    z-index: -1;
    border-radius: 2rem;
}
.fl-content{
    position: absolute;
    top: 0;
    padding: 3rem 2rem;
}
.content-box{
    padding: .1rem;
    width: 45%;
}
.fl-heading{
    width: 14rem;
    padding: .5rem;
    margin-bottom: 1rem;
    background: rgba(3, 3, 3, 0.548);
}
.fl2-heading h2{
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    background: rgba(3, 3, 3, 0.548);
}
.fl-subheading{
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(3, 3, 3, 0.548);
}
.fl-card-section{
    margin: 4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fl-card{
    padding: 2rem;
    background: rgba(3, 3, 3, 0.897);
    margin-right: 6rem;
    border-radius: 1rem;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 950px) { 
    .content{
        margin: 2rem 4rem;
        
    }
    .heading h1{
        font-size: 4.5rem;
        font-weight: 700;
        color: var(--secondary-color);
    }
    .incards{
        font-family: 'Poppins',sans-serif;
        width: 100%;
        height: max-content;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: .1rem .1rem;
    }
    .card1{
        width: 15rem;
        height: 5rem;
        margin: .9rem;
        align-items: center;
        text-align: center;
    }
    h4{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 750px) { 
    .incards{
        font-family: 'Poppins',sans-serif;
        width: 100%;
        height: max-content;
        text-align: center;
        display: block;
        justify-content: center;
        padding: .4rem .1rem;
    }
    .card1{
        width: 18rem;
        height: 7rem;
        margin: .9rem auto;
        align-items: center;
        text-align: center;
    }
}




@media only screen and (max-width: 600px) { 
    .html{
        scroll-behavior: smooth;
    }
    .container{
        width: 100%;
        max-width: 100%;
        height: 100%;
        background:#fff;
        margin: .1rem auto;
        overflow-x: hidden;
    }
    .content{
        margin: 2rem 1rem;

    }
    .heading h1{
        font-size: 5rem;
    }
    .subheading h5{
        font-size: 1rem;
    }
    .home-btn{
        padding: 0rem;
        display: flex;
    }
    .h-btn{
        width: 11rem;
        height: 3rem;
        font-size: .8rem;
        padding: 0;
    }
    .img-home-section{
        width: 100%;
    }
    .imag-container{
        width: 100%;
    }

    /* card section */
    .card-section{
        height: 100%;
        padding: 1rem 1rem;
    }
    .card-heading h3{
        font-size: 2rem;
    }
    .incards{
        font-family: 'Poppins',sans-serif;
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        justify-content: center;
    }
    .card1{
        width: 15rem;
        height: 5rem;
        margin: .8rem auto;
    }

    /* mkt section */

    .mkt-section{
        width: 100%;
        height: 100%;
        padding: 0rem;
    }
    .mkt-img{
        width: 100%;
        margin: 0rem;
    }
    .mkt-content{
        width: 100%;
        padding: 0rem;
    }
    .mkt-content-box{
        width: 100%;
        height: 100%;
        padding-left: 1rem;
    }
    .mkt-heading{
        width: 9rem;
        height: 1rem;
        font-size: .8rem;
        margin-left: .1rem;
        margin-top: .6rem;
        padding: 0rem;
        transition: all 3s ease;
        background: rgba(49, 49, 49, 0.548);
    }
    .mk-heading{
        width: 40%;
        height: 2rem;
        margin-top: .1rem;
        border-radius: .2rem;
        padding: .2rem;
        background: rgba(49, 49, 49, 0.548);
    }
    .mk-heading h2{
        font-size: .8rem;
        font-weight: 100;
    }
    .mkt-subheading{
        padding: .3rem;
        width: 76%;
        height: 4.8rem;
        margin-top: 1rem;
        border-radius: .2rem;
        background: rgba(49, 49, 49, 0.548);
    }
    .mkt-subheading p{
        font-size: .9rem;
    }
    .mkt-card-section{
        display: none;
    }

    /* divider */
    .divider{
        font-family: 'Poppins',sans-serif;
        width: 100%;
        height: 100%;
        padding: .5rem auto;
        text-align: center;
        display: block;
        margin: 0rem;
        justify-content: center;
        background: #fff;
    }
    .divider-content{
        width: 15rem;
        height: 5rem;
        border-radius: .4rem;
        margin: .8rem auto;
        padding: .3rem;
        background: #eee;
    }
    .divider-content h1{
        margin-top: .5rem;
        font-size: 1.4rem;
    }

    /* for fl-section */

    .fl-section{
        width: 100%;
        height: 100%;
        padding: 0rem;
    }
    .fl-img{
        width: 100%;
        margin: 0rem;
    }
    .fl-content{
        width: 100%;
        padding: 0rem;
    }
    .fl-content-box{
        width: 100%;
        height: 100%;
        padding-left: 1rem;
    }
    .fl-heading{
        width: 9rem;
        height: 1rem;
        font-size: .8rem;
        margin-left: .1rem;
        margin-top: .6rem;
        padding: 0rem;
        transition: all 3s ease;
        background: rgba(49, 49, 49, 0.548);        
    }
    .fl2-heading h2{
        width: 40%;
        height: 2.2rem;
        margin-top: 1.6rem;
        border-radius: .2rem;
        padding: .3rem;
        font-size: .8rem;
        font-weight: 100; 
        background: rgba(49, 49, 49, 0.548);     
    }
    .fl-subheading{
        width: 80%;
        height: 100%;
        border-radius: .2rem;
        padding: .1rem;
        font-size: 1rem;
        margin-top: 1.8rem;
        font-weight: 100; 
        background: rgba(49, 49, 49, 0.548);     
    }

    /* footer */
    .home-footer{
        width: 100%;
        height: 100%;
        margin: 0rem;
        background: yellow;
        padding: 0rem;
    }
}
