<section class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="content">
                    <div class="heading">
                        <h1>Let's make it count</h1>
                    </div>
                    <div class="subheading">
                        <h5>Forget the old rules. You can have
                        the best people Right now, Right here</h5>
                    </div>
                    <div class="home-btn">
                        <button class="ch-btn h-btn" routerLink="/login">Find channel</button>
                        <button class="li-btn h-btn" routerLink="/login">List channel</button>
                    </div>
            </div>
        </div>
        <div class="col img-home-section">
            <div class="imag-container">
                <img src=".//src/assets/myCover3.webp" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <!-- card section -->
    <div class="card-section">
        <div class="card-heading">
            <h3>Browse chennels by category</h3>
            <p>Looking for channel listing <span routerLink="/login">login for listing</span></p>
        </div>
        <div class="incards">
            <div class="card1">
                <h4>Music</h4>
            </div>
            <div class="card1">
                <h4>Art & Craft</h4>
            </div>
            <div class="card1">
                <h4>Dance</h4>
            </div>
            <div class="card1">
                <h4>life-style</h4>
            </div>
        </div>
    </div>
    <!-- for mkt section -->
    <div class="mkt-section">
        <img class="mkt-img" src=".//src/assets/secondcover.jpg" alt="">
        <div class="mkt-content">
            <div class="mkt-content-box">
                <h5 class="mkt-heading">For Marketing officials</h5>
                <div class="mk-heading">
                    <h2>Find channels within <br> few click</h2>
                </div>
                <div class="mkt-subheading">
                    <p>Work with the largest network of independent
                        professionals and get things done.</p>
                </div>
            </div>      
            <div class="mkt-card-section">
                <div class="mkt-card search-ch-cat">
                    <h4>Search channel by category.</h4>
                </div>
                <div class="mkt-card view-ch">
                    <h4>View channel details.</h4>
                </div>
                <div class="mkt-card final-deal">
                    <h4>Discuss and fix deal.</h4>
                </div>
            </div>
        </div>    
    </div>
    <div class="divider">
        <div class="divider-content">
            <h1>Work and grow together</h1>
        </div>
    </div>

    <!-- for chnnel holders section -->
    <div class="fl-section">
        <img class="fl-img" src=".//src/assets/cover3.jpg" alt="">
        <div class="fl-content">
            <div class="fl-content-box">
                <h5 class="fl-heading">For channel holders</h5>
                <div class="fl2-heading">
                    <h2>List your channel & start promoting</h2>
                </div>
                <div class="fl-subheading">
                    <p>Work with the small to high level businesses
                        and promote on your channel</p>
                </div>
            </div>      
            <div class="fl-card-section">
                <div class=" fl-card search-ch-cat">
                    <h4>Search channel by category --></h4>
                </div>
                <div class="fl-card view-ch">
                    <h4>View channel details --></h4>
                </div>
                <div class="fl-card final-deal">
                    <h4>Discuss and fix deal.</h4>
                </div>
            </div>
        </div>    
    </div>
    <div class="home-footer">
        <app-footer></app-footer>
    </div>
</section>
