<section>
    <div class="row">
        <div class="col-6">
            <div class="content">
                    <div class="heading">
                        <h1>Let's make it<br> count</h1>
                    </div>
                    <div class="subheading">
                        <h5>Forget the old rules. You can have <br>
                        the best people Right now, Right here</h5>
                    </div>
                    <div class="home-btn">
                        <button class="ch-btn">Find channel</button>
                        <button class="li-btn">List channel</button>
                    </div>
            </div>
        </div>
        <div class="col-6">
            <div class="imag-container">
                <img src=".//src/assets/homepageimg.png" alt="">
            </div>
        </div>
    </div>
    <!-- card section -->
    <div class="card-section">
        <div class="card-heading">
            <h3>Browse chennels by category</h3>
            <p>Looking for channel listing <a href="">login for listing</a></p>
        </div>
        <div class="cards">
            <div class="card1">
                <h4>Music</h4>
            </div>
            <div class="card1">
                <h4>Art & Craft</h4>
            </div>
            <div class="card1">
                <h4>Dance</h4>
            </div>
            <div class="card1">
                <h4>life-style</h4>
            </div>
        </div>
    </div>
    <!-- for mkt section -->
    <div class="mkt-section">
        
        <div class="heading">
            <h2>Find channels within <br> few click</h2>
        </div>
        <div class="mkt-subheading">
            <p>Work with the largest network of independent <br>
                 professionals and get things done</p>
        </div>
        <div class="mkt-card-section">
            <div class=" mkt-card search-ch-cat">
                <h4>Search channel by category</h4>
            </div>
            <div class="mkt-card view-ch">
                <h4>View channel details</h4>
            </div>
            <div class="mkt-card final-deal">
                <h4>Discuss and fix deal</h4>
            </div>
        </div>
    </div>

</section>
