  <!-- menu-icon -->
  <div class="fl-menu-icons">
    <div class="home-menu">
        <div class="hi">
            <i (click)="gotoDashboard()" class="fa fa-home fl-icons"></i>
        </div>
        <div class="hl">
            <label for="">Home</label>
        </div>
    </div>
    <div class="home-menu">
        <div class="hi">
            <i  (click)="gotoMessage()" class="fa fa-commenting fl-icons"></i>
        </div>
        <div class="hl">
            <label for="">Message</label>
        </div>
    </div>
    <div class="home-menu">
        <div class="hi">
            <i (click)="profile()" class="fa fa-user fl-icons"></i>
        </div>
        <div class="hl">
            <label for="">Profile</label>
        </div>
    </div>
    <div class="home-menu">
        <div class="hi">
            <i class="fa fa-question-circle fl-icons"></i>
        </div>
        <div class="hl">
            <label for="">Help & support</label>
        </div>
    </div>
</div>
<!-- menu-icon -->