<div class="register-section">
    <div class="content-box">
        <h3>Register as {{asmkt}}</h3>
        <hr>
            <div class="form" [formGroup]="RegisterationForm">
                    <div class="name input-item">
                        <div class="inner-box">
                            <label>Username</label>
                        </div>
                        <div class="inputt">
                            <input type="text" #username class="inp" formControlName="userName">
                        </div>
                    </div>
                    <div class="email input-item">
                        <div class="inner-box">
                            <label>Email</label>    
                        </div>
                        <div class="inputt">
                            <input type="text" #email class="inp" formControlName="email">
                        </div>
                    </div>
                    <div class="category input-item" #category *ngIf="ismkt">
                        <div class="inner-box">
                            <label>Category</label>    
                        </div>
                        <div class="inputt">
                            <input type="text" 
                               class="inp inputCategory" 
                                formControlName="category">
                        </div>
                    </div>
                    <div class="password input-item">
                        <div class="inner-box">
                            <label>Password</label>  
                        </div>
                        <div class="inputt">
                            <input type="password" #password class="inp" formControlName="password">
                        </div>
                    </div>
                    <div class="input-item">
                        <button (click)="getFormData()" 
                        class="btn btn-danger register-btn">Create account</button>
                    </div>
                </div>
            <div class="signup-sec">
                <p>Already have an account?</p><span routerLink="/login">Log In</span>
            </div>
    </div>
</div>